<nav class="navbar navbar-light footer-nav justify-content-center mt-5 mb-3" style="background-color: inherit !important">
  <a class="navbar-brand" href="https://chatversityapp.com/EULA">EULA</a>
  <a class="navbar-brand" href="https://chatversityapp.com/">TERMS</a>
  <a class="navbar-brand" href="https://chatversityapp.com/">PRIVACY</a>
  <a class="navbar-brand" href="https://chatversityapp.com/about">ABOUT</a>
  <a class="navbar-brand" href="https://chatversityapp.com/contact">CONTACT</a>
  <a class="navbar-brand" href="https://chatversityapp.com/faq">FAQ</a>
  <a class="navbar-brand" href="https://chatversityapp.com/">SUPPORT</a>
  <span class="navbar-brand pl-4 text-dark text-light-weight">COPYRIGHT &copy; 2019 CHATVERSITY</span>
</nav>